<a href="https://colab.research.google.com/github/dilkushsingh/My-Python-Learning/blob/main/31_40_Sets%2C_Dictionary_and_Exception_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 31. Sets

Sets are unordered collection with no duplicate elements. They store multiple items in a single variable. Set items are separated by commas and enclosed within curly brackets {}. Sets are unchangeable, meaning you cannot change items of the set once created.

In [ ]:
s = {2,4,4,3,9,6}
print(s)

biodata = {"dilkhush",18,"mds",7748}
print(biodata)
print(type(biodata))

for value in biodata:
    print(value)

{2, 3, 4, 6, 9}
{'dilkhush', 18, 7748, 'mds'}
<class 'set'>
dilkhush
18
7748
mds

### Note
To create an empty set you have to use set() not {}, it creates empty dictionary.

In [ ]:
a = {}
print(type(a))

<class 'dict'>

In [ ]:
b = set()
print(type(b))

<class 'set'>

In [ ]:
c = ()
print(type(c))

<class 'tuple'>

# 32. Set Methods

In [ ]:
s1 = {1,3,4,5,3}
s2 = {1,6,7,4,3}

In [ ]:
"""s1.union(s2)
    merge two sets
"""
print(s1.union(s2))

{1, 3, 4, 5, 6, 7}

In [ ]:
"""s1.update(s2)
    adds additional values from s2 into s1
"""
s1.update(s2)
print(s1)

{1, 3, 4, 5, 6, 7}

In [ ]:
"""s1.intersection(s2)
    prints all the common values in both sets
"""
s1.intersection(s2)

{1, 3, 4, 6, 7}

In [ ]:
"""s1.intersection_update(s2)
    update the s1 with all common values
"""
s1.intersection_update(s2)
print(s1)

{1, 3, 4, 6, 7}

In [ ]:
"""s1.symmetric_difference(s2)
    returns a new set which is having all the values \
    uncommon values.
"""
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.symmetric_difference(cities2)

{'Berlin', 'Delhi', 'Kabul', 'Seoul'}

In [ ]:
"""s1.symmetric_difference_update
    update the s1 with all the uncommon values.
"""
cities.symmetric_difference_update(cities2)
print(cities)

{'Berlin', 'Seoul', 'Delhi', 'Kabul'}

In [ ]:
"""s1.difference(s2)
    returns a new set having items that are only present\
    in the original set and not in the both sets.
"""

cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.difference(cities2)

{'Berlin', 'Delhi'}

In [ ]:
"""s1.difference_update(s2)
    update the s1 having items that are only present\
    in the original set and not in the both sets.
"""

cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.difference_update(cities2)
print(cities)

{'Berlin', 'Delhi'}

In [ ]:
"""s1.isdisjoint(s2)
    returns True if both sets are disjoint else False.
"""
s1 = {1,3,2,3,4}
s2 = {8,6,4,3,0}
print(s1.isdisjoint(s2))
s3 = {23,34,23,67}
print(s1.isdisjoint(s3))

False
True

In [ ]:
"""s1.issuperset(s2)
    returns True if elements of s2 are present in s1
"""
s1 = {2,4,6,8,10,12}
s2 = {2,6,10}
print(s1.issuperset(s2))
s3 = {3,4,2,3}
print(s1.issuperset(s3))

True
False

In [ ]:
"""s1.issubset(s2)
    returns True if elements of s1 are present in s2
"""
s1 = {2,4,6,8,10,12}
s2 = {2,6,10}
print(s1.issubset(s2))
s3 = {2,4,6,8,10,12,14}
print(s1.issubset(s3))

False
True

In [ ]:
"""s1.add()
    Adds single item into s1
"""
s1 = {2,4,6,8,10,12}
s1.add(16)
print(s1)

{16, 2, 4, 6, 8, 10, 12}

In [ ]:
"""s1.remove() / s1.discard()
    deletes the given item from s1
"""
s1 = {2,4,6,8,10,12}
s1.remove(6)
print(s1)

"""difference between remove and discard
    remove throws error when we try to delete an item \
    which is not present while discard doesn't throw \
    any error.
"""

{2, 4, 8, 10, 12}

"difference between remove and discard\n    remove throws error when we try to delete an item     which is not present while discard doesn't throw     any error.\n"

In [ ]:
"""s1.pop()
    Deletes random value from s1 and also return it
"""
cities = {"Madrid", "Tokyo", "Berlin", "Delhi"}
cities.pop()

'Tokyo'

In [ ]:
"""del
    del is not a method, rather it is a keyword which \
    deletes the set entirely.
"""
s1 = {3,2,4,5,9}
del s1
# print(s1) # Throws error because s1 is already deleted

In [ ]:
"""s1.clear()
    deletes all the items from s1 and makes it empty set
"""
s1 = {4,3,43,22,344,90}
s1.clear()
print(s1)

set()

In [ ]:
"""Checks if item exists
    Check if an item exist in the set or not.
"""
info = {"Carla",19,False,5.9}
if "Carla" in info:
    print("Carla is present.")
else:
    print("Carla is absent.")

Carla is present.

# 33. Dictionary

Dictionaries are ordered collection of data itmes. They store multiple items in a single variable. Dictionary items are key-value pairs that are separated by commas and enclosed within curly brackets {}.

Note - Set is unordered but dictionary is ordered from python version 3.7 onwards.

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info)

{'name': 'Karan', 'age': 19, 'eligible': True}

In [ ]:
# Accessing single values
print(info['name'])
print(info.get('name'))

#difference is that first method throws error if key is not present while seconds doesn't throws any error.

Karan
Karan

In [ ]:
# Accessing multiple values
print(info.keys())
print(info.values())
for key in info.keys():
    print(info[key])

dict_keys(['name', 'age', 'eligible'])
dict_values(['Karan', 19, True])
Karan
19
True

In [ ]:
# Accessing key-value pairs
print(info.items())

for key,value in info.items():
    print(f"The value corresponding to the key {key} is {value}")

dict_items([('name', 'Karan'), ('age', 19), ('eligible', True)])
The value corresponding to the key name is Karan
The value corresponding to the key age is 19
The value corresponding to the key eligible is True

# 34. Dictionary Methods

In [ ]:
"""dict1.update(dict2)
    updates the value of the key provided to it if the item already exist in dictionary, else it creates a new key-value pair.
"""
ep1 = {122: 45, 123:89, 567:69, 670: 69}
ep2 = {122: 67, 566: 90}
ep1.update(ep2)
print(ep1)

{122: 67, 123: 89, 567: 69, 670: 69, 566: 90}

In [ ]:
"""dict.clear()
    cleares all the dictionary.
"""
dict = {12: 12, 10: 10, 7:7}
dict.clear()
print(dict)

{}

In [ ]:
"""dict.pop(key)
    This methods removes a specific key-value pair from dictionary.
"""
dict = {12: 12, 10: 10, 7:7}
dict.pop(12)
print(dict)

{10: 10, 7: 7}

In [ ]:
"""dict.popitem()
    This method removes the last key-value pair from dictionary.
"""
dict = {12: 12, 10: 10, 7:7}
dict.popitem()
print(dict)

{12: 12, 10: 10}

In [ ]:
"""del
    Delete whole dictionary.
"""
dict = {12: 12, 10: 10, 7:7}
del dict
print(dict)

<class 'dict'>

# 35. For Loop with Else

In [ ]:
for i in range(6):
    print(i)
else:
    print("sorry")

0
1
2
3
4
5
sorry

In [ ]:
for i in [1,2,3,4]:
    print(i)
else:
    print("Sorry")

1
2
3
4
Sorry

In [ ]:
for i in range(6):
    print(i)
    i = i+1
    if i == 4:
        break
else:
    print("sorry")

0
1
2
3

# 36. Exception Handling

Exception handling is the process of responding to unwanted or unexpected events when a computer program runs. Exception handling deals with these events to avoid the program or system crashing. and without this process, exception would disrupt the normal operation of a program.
#### Exception in Python

Python has many built-in exceptions that are raised when program encounters an error(something in the program goes wrong).

In [ ]:
num = input("Enter a number > ")
print(f"Multiplication table of {num} is:")
try:
    for i in range(1,11):
        print(f"{int(num)}X{i}={int(num)*i}")
except Exception as e:
    print(e)

print("Some imp lines of code")
print("End of Program.")

Multiplication table of d is:
invalid literal for int() with base 10: 'd'
Some imp lines of code
End of Program.

In [ ]:
while True:
    try:
        x = int(input("Please enter a number: "))
        print("You entered:",x)
        break
    except ValueError:
        print("Oops! That was no valid number. Try again...")

Oops! That was no valid number. Try again...
You entered: 3

In [ ]:
try:
    num = int(input("Enter an integer: "))
    a = [6,3]
    print(a[num])
except ValueError:
    print("Value error")
except IndexError:
    print("Index error")

3

# 37. Finally keyword

The finally code block is also a part of exception handling. When we handle exception using the try and except block, we can include a finally block at the end. The finally block is always executed, so it is generally used for doing the concluding tasks like closing file resources or closing database connection or may be ending the program execution with delightful message.

In [ ]:
def func1():
    try:
        l = [1,5,6,7]
        i = int(input("Enter the index >"))
        print(l[i])
    except:
        print("Something went wrong.")
    finally:
        print("I'm always executed.")

x = func1()
print(x)

Something went wrong.
I'm always executed.
None

# 38. Raising custom errors

In [ ]:
a = int(input("Enter any value between 5 and 9"))
if(a<5 or a>9):
    raise ValueError("Value should be between 5 and 9")

ValueError: Value should be between 5 and 9

# 39. Kaun Banega Carorepati Exercise 3 Solution

In [ ]:
questions = [["which language was used to create fb?", "Python", "French", "Javascript", "PHP", "None", 4],
             ["which language was used to create fb?", "Python", "French", "Javascript", "PHP", "None", 4],
             ["which language was used to create fb?", "Python", "French", "Javascript", "PHP", "None", 4],
             ["which language was used to create fb?", "Python", "French", "Javascript", "PHP", "None", 4]
            ]

levels = [1000, 2000, 3000, 5000, 10000, 20000, 40000, 80000, 160000, 320000]
money = 0

i = 0
for i in range(0, len(questions)):
    question = questions[i]
    print(f"Question for Rs.{levels[i]}")
    print(f"a.{question[1]}     b.{question[2]}")
    print(f"c.{question[3]}     d.{question[4]}")
    reply = int(input("Enter your answer (1-4)"))
    if(reply==question[-1]):
        print(f"Correct answer, you have won Rs. {levels[i]}")
        if(i==4):
            money = 10000
        elif(i==9):
            money = 320000
        elif(i==14):
            money = 10000000
    else:
        print("Wrong answer")
        break

Question for Rs.1000
a.Python     b.French
c.Javascript     d.PHP
Correct answer, you have won Rs. 1000
Question for Rs.2000
a.Python     b.French
c.Javascript     d.PHP
Correct answer, you have won Rs. 2000
Question for Rs.3000
a.Python     b.French
c.Javascript     d.PHP

ValueError: invalid literal for int() with base 10: ''

# 40. Exercise 4

Write a python program to translate a message into secret code language. Use the rules to translate normal english into secret code language.

#Coding

if the word contains atleast 3 characters, remove the first letter and append it at the end now append three random characters at the startinga and the end.
else:
simple reverse the string.

#Decoding

if the word contains less than 3 characters, reverse it.
else:
remove 3 random characters from start and end. Now remove the last letter and append it to the beginning.

Your program should ask whether you want to code or decode.